.item { 
    border-left-color: #1b809e;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.title {
   display: block;
   font-size: 1.2em;
}

.published {
   font-size: .8em;
}
