
<div id="header">
	<h1>PodcastHub <i class="fa fa-rss" aria-hidden="true"></i></h1>
	<a href="#feedList" class="feedList">Feed List</a>
	<span>&nbsp;|&nbsp;</span>
	<a href="#itemsByDownloadDirectory" class="itemsByDownloadDirectory">Items by download directory</a>
</div>

<div id="sidebar"></div>

<div id="main"></div>

