
<div id="header" class="row">
	<div class="col-md-9">
		<h1>PodcastHub <i class="fa fa-rss" aria-hidden="true"></i></h1>
	</div>
	<div class="col-md-3">
		<a href="#showFeedList">Feed List</a>
		<span>&nbsp;|&nbsp;</span>
		<a href="#showDownloadDirectories">Items by download directory</a>
	</div>
</div>

<div class="row">
	<div id="sidebar"></div>
	<div id="main"></div>
</div>

