<table id="FeedList" class="display table table-striped table-bordered" cellspacing="0">

	<thead>
		<tr>
			<th>Name</th>
			<th>Url</th>
			<th>Last File</th>
		</tr>
	</thead>
	<tbody class="feeds">

	</tbody>
</table>
