<div class="row">
	<div class="col-md-12"><h1>{{Channel.attributes.Title}}</h1></div>
</div>
<div class="row">
	<div class="col-md-12"><span>{{FeedUrl}}</span></div>
</div>

<div id="feed-items" class="row">
</div>
