<div class="item">
	<span class="duration">{{Duration}}</span>
	<span class="published pull-right">{{PubDisplayDate}}</span>
	<span class="title">{{Title}}</span>
	<span class="description">{{Description}}</span>
	<button class="archive btn btn-default" type="submit">Archive</button>
</div>
