<div class="item">
	<span class="duration">{{Duration}}</span>
	<button class="archive btn btn-default pull-right" type="submit">A</button>
	<span class="published pull-right">{{PubDisplayDate}}</span>
	<span class="title">{{Title}}</span>
	<span class="description">{{Description}}</span>
</div>
